# 제외시킬 파일들
.metadata
.recommenders

# prj1 제외 파일들
javase_prj/.settings
javase_prj/bin
javase_prj/doc
javase_prj/.classpath
javase_prj/.project

# prj2 제외 파일들
javase_prj2/.settings
javase_prj2/bin
javase_prj2/doc
javase_prj2/.classpath
javase_prj2/.project

#javase_chatprj 제외 파일들
javase_chatprj /.settings
javase_chatprj/bin
javase_chatprj/doc
javase_chatprj/.classpath
javase_chatprj/.project