# 전체 무시
.metadata
.recommenders
.Servers

# prj1무시할 파일들
javase_prj/.settings
javase_prj/bin
javase_prj/doc
javase_prj/.classpath
javase_prj/.project

# prj2 무시할 파일들
javase_prj2/.settings
javase_prj2/bin
javase_prj2/doc
javase_prj2/.classpath
javase_prj2/.project

#javase_chatprj 무시할 파일들
javase_chatprj /.settings
javase_chatprj/bin
javase_chatprj/doc
javase_chatprj/.classpath
javase_chatprj/.project

#js_practice 무시할 파일들
js_practice/.settings
js_practice/bin
js_practice/doc
js_practice/.classpath
js_practice/.project

#html_prj 무시할 파일들
html_prj/.settings
html_prj/build
html_prj/src
html_prj/.classpath
html_prj/.project
html_prj/WebContent/META-INF
html_prj/WebContent/WEB-INF

Servers/*