@charset "UTF-8";

body, select, button, div, ul, ol, li, form, fieldset, legend, textarea,
	p, th, td, input {
	margin: 0px;
	padding: 0px
}

fieldset, img {
	border: 0px
}

ul, ol, li {
	list-style: none
}

input, select, textarea, button {
	border-radius: 0;
	vertical-align: middle
}

input::-ms-clear {
	display: none
}
/* line-height은 줄의 높이가 fontsize*(line-height)  */
body, th, td, input, select, textarea, button {
	font-size: 13px;
	line-height: 1.5;
	font-family: AppleSDGothicNeo-Regular, '맑은 고딕', dotum, '돋움', sans-serif;
	color: #3F3F3F;
}
/* 링크가 걸려진 곳의 색을 바꿈 */
a {
	color: #3F3F3F;
	text-decoration: none
}

a:hover {
	color: #128EFD;
	text-decoration: underline
}

.inputBox {
	border: 1px solid #EDEDED;
	bakcground-color: #FFFFFF;
	height: 20px
}

.btn {
	border: 1px solid #EDEDED;
	background-color: #FFFFFF;
	color: #1C1C1C;
	height: 22px;
	padding: 3px;
	cursor: pointer;
}
